.Toolbar {
  position: fixed;
  z-index: 100;
  width: 70%;
  height: 3em;
  top: 1em;
  background-color: #333;
  background-image: linear-gradient(90deg, #111,#333);
  ul {
    display: flex;
    li {
      padding-left: 2em;
      list-style: none;
    }
  }
  a {
    text-decoration: none;
    text-align: center;
    color: white;
  }
  .active {
    font-weight: bold;
  }
  &:after {
    // z-index: -1;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 0em solid #333;
    border-bottom: 3em solid transparent;
    border-left: 4em solid #333;
    top: 0;
    right: -4em;

  }
}
