.Home{
  .HomeName {
    position: absolute;
    padding-left: 12em;
    top: 20%;
    width: 50%;
    right: 0;
    text-align: left;
    // background-color: #f008;
    background-image: linear-gradient(-90deg, #f004, #f008 65%, #f008 85%, #f000);
    h1 {
      font-weight: lighter;
    }
  }
  .About{
    position: relative;
    margin-top: 400px;
  }
  .Resume{
    // position: inherit;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
