.Feature{
  width: 100%;
  border-bottom: solid 1px #ccc;
  img{
    width: 100%;
  }
  .title{
    font-size: 1.5em;
    font-weight: bold;
    padding: .25em 0;
    color: #cc0000;
  }
  .description{
    padding-bottom: 1em;
  }
  .Carousel{
  }
}
