// .Curriculum{
//
// }
//
// .Curriculum, td, th {
//   text-align: center
// }

.Curriculum {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid none #eee;
  // box-shadow: 0 2px 3px #ccc;
  td, th{
    text-align: center;
    padding: .25em 0;
  }
  a{
    color: black;
    text-decoration: none;
    font-weight: normal;
    &:hover{
      font-weight: bold;
      text-decoration: none;
    }
  }
  .github{
    display: inline-block;
    transition: .5s;
    &:hover{
      // background-color: #275788;
      transform: scale(2)  rotate(-20deg);
      // color: white;
    }
  }
  .btn {
    display: inline-block;
    color: black;
    border: none 1px;
    font-weight: bold;
    padding: .05em .5em;
    text-decoration: none;
    transition: .1s;
    &:hover{
      // background-color: #275788;
      transform: scale(1.1);
      background-color: #7bacde3d;
      // color: white;
    }
  }
  .assignmentName{
    text-align: left;
    width: 45%;
    .fa-link{
      display: none;
      color: #bbb;
      font-size: .8em;
    }

  }
  tr{
    &:hover{
      .fa-link{
        display: inline-block;
      }
    }
  }
  .tableCourse{
    td{
      width: 35%
    }

  }
  tbody{
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    padding: 0 .5em;
  }
  @media only screen and (min-width: 700px) {
    border: 1px solid #eee;
    .btn{
      border: solid 1px #7bacde;
      border-radius: 5px;

    }
  }
}
