.Features {
  // width: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // height: 600px; // how do i do this without hard coding
  .Feature {
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
    width: 50%
  }
}
